.accordion-item {
    padding: 30px 0;
    display: flex;
    align-items: baseline;
}

.accordion-item .accordion-item-body {
    margin-left: 40px;
}

.accordion-item .accordion-item-icon {
    cursor: pointer;
    transition: all 1s;
    transform: rotate(0deg);
    transform-origin: center center;
}

.accordion-item .accordion-item-icon--open {
    transform: rotate(180deg);
}

.accordion-item .accordion-item-content {
    padding: 0 0 0 50px;
    border-left: 0.5px solid lightgrey;
    margin-top: 20px;
    overflow: hidden;
    transition: max-height 0.5s linear;
    max-height: 0;
}

.accordion-item:first-of-type {
    padding-top: 0;
}

.accordion-item--open .accordion-item-content {
    max-height: 1000px;
    transition: max-height 1.5s linear;
}
