.okrs {
    flex: 100%;
    margin-top: 50px;
}

.okrs .okrs__heading {
    margin-bottom: 40px;
}

.okrs .objective-title {
    display: flex;
}

.okrs .objective-title .objective-title__position {
    flex: 0;
    color: lightgrey;
    font-weight: 500;
}

.okrs .objective-title .category {
    display: none;
    margin-left: 30px;
    font-weight: 400;
    padding: 2px 10px;
    background-color: lightgray;
    border-radius: 20px;
    color: #767171;
}

.okrs .objective-title .objective-title__text {
    margin-left: 15px;
    cursor: pointer;
    color: rgb(2, 146, 243);
}

.okrs .objective-title .objective-title__text:hover {
    text-decoration: underline;
}

.okrs .key-result {
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.okrs .key-result::before {
    content: "";
    position: absolute;
    left: -50px;
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-top: 12px;
    width: 10px;
}

.okrs .key-result::marker {
    color: lightgrey;
}

.okrs .key-result .key-result-title {
    margin-left: 15px;
    color: rgb(2, 146, 243);
    cursor: pointer;
}

.okrs .key-result .key-result-title:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .okrs {
        margin-top: 0;
        flex: 3;
    }
}


@media screen and (min-width: 1000px) {

    .okrs .objective-title .category {
        display: block;
    }
}